[submodule "solutions/java/OTT104"]
	path = solutions/java/OTT104
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT104.git
[submodule "solutions/python/OTT102"]
	path = solutions/python/OTT102
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT102.git
[submodule "solutions/python/OTT100"]
	path = solutions/python/OTT100
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT100.git
[submodule "solutions/java/OTT105"]
	path = solutions/java/OTT105
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT105.git
[submodule "solutions/python/OTT101"]
	path = solutions/python/OTT101
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT101.git
[submodule "solutions/java/OTT103"]
	path = solutions/java/OTT103
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT103.git
[submodule "solutions/python/OTT106"]
	path = solutions/python/OTT106
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT106.git
[submodule "solutions/java/OTT107"]
	path = solutions/java/OTT107
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT107.git
[submodule "solutions/python/OTT108"]
	path = solutions/python/OTT108
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT108.git
[submodule "solutions/python/OTT109"]
	path = solutions/python/OTT109
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT109.git
[submodule "solutions/java/OTT110"]
	path = solutions/java/OTT110
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT110.git
[submodule "solutions/java/OTT111"]
	path = solutions/java/OTT111
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT111.git
[submodule "solutions/java/OTT112"]
	path = solutions/java/OTT112
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT112.git
[submodule "solutions/java/OTT113"]
	path = solutions/java/OTT113
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT113.git
[submodule "solutions/python/OTT14"]
	path = solutions/python/OTT14
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT14.git
[submodule "solutions/java/OTT115"]
	path = solutions/java/OTT115
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT115.git
[submodule "solutions/python/OTT116"]
	path = solutions/python/OTT116
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT116.git
[submodule "solutions/python/OTT117"]
	path = solutions/python/OTT117
	url = git@github.com:exercise-lab/one-two-test-python-saddle-points-OTT117.git
[submodule "solutions/java/OTT119"]
	path = solutions/java/OTT119
	url = git@github.com:exercise-lab/one-two-test-java-saddle-points-OTT119.git
