[submodule "problems/java/exercises/hello-world"]
	path = problems/java/exercises/hello-world
	url = git@gitlab.com:exercise-lab/one-two-test-java-hello-world
[submodule "problems/java/exercises/two-fer"]
	path = problems/java/exercises/two-fer
	url = git@gitlab.com:exercise-lab/one-two-test-java-two-fer
[submodule "problems/java/exercises/saddle-points"]
	path = problems/java/exercises/saddle-points
	url = git@gitlab.com:exercise-lab/one-two-test-java-saddle-points
[submodule "problems/python/exercises/saddle-points"]
	path = problems/python/exercises/saddle-points
	url = git@gitlab.com:exercise-lab/one-two-test-python-saddle-points
[submodule "problems/python/exercises/hello-world"]
	path = problems/python/exercises/hello-world
	url = git@gitlab.com:exercise-lab/one-two-test-python-hello-world
[submodule "problems/python/exercises/two-fer"]
	path = problems/python/exercises/two-fer
	url = git@gitlab.com:exercise-lab/one-two-test-python-two-fer
