[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"github3.py" = "*"
"jinja2" = "*"
gitpython = "*"
pip = "==18.0"

[dev-packages]
black = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
