#!/usr/bin/env python3
import subprocess
import git

problem = "{{ saddle_points_problem_dir }}"

repo = git.Repo(problem)

# check if repo is dirty
if repo.is_dirty():
    repo.git.add(".")
    repo.git.commit("-m Adding untracked files before push")

try:
    # tag the end of part1
    repo.git.tag("part1done")
except:
    print("Tag 'part1done' already exists")

# merge part2
# repo.git.merge("-m 'Add part2' origin/part2")
subprocess.call("git merge -m 'Add part2 tests' origin/part2", shell=True)
